.App {
  /*text-align: center;*/
}

.App-header {
  background-color: #064;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.mapboxgl-control-container {
  display: none;
}

.mapboxgl-map {
  margin: auto 25%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1, h2, form {
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
}
