.App {
  /*text-align: center;*/
}

#root {
  font-family: 'Open Sans';
}

.App-header {
  background-color: #000;
  height: 200px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite .01s linear;
  height: 130px;
}

.mapboxgl-control-container {
  display: none;
}

.mapboxgl-map {
  margin: auto 25%;
}

@keyframes App-logo-spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

h1, h2, form {
  text-align: center;
}

input {
  margin: 5px auto;
}

ul {
  list-style: none;
  text-align: center;
}
html {
  background: rgb(241, 241, 241);
  color: rgb(48,48,45);
}

button {
  width: 100px;
  background: black;
  border: black;
  color: red;
  margin: 2px 45%;
}

.editUser {
  margin: 2px 48%;
}

.homeView {
  text-align: center;
}

.homeImg {
  margin: 0 auto;
  width: 100%;
}

.feature {
  /*border: .5px solid grey;
  border-radius: 3px;
  box-shadow: 3px 3px 3px 3px;*/
  margin: 10px 10px;
  margin-bottom: 50px;
}

.feature h2 {
  text-decoration: underline;
  margin-bottom: 30px;
}

.featureHalf {
  width: 50%;
  display: inline-block;
  margin: 10px 0;
  vertical-align: middle;
}

.featureHalf img {
  width: 50%;
  height: 50%;
}

.featureHalf p {
  font-size: 22px;
  margin-top: 10%;
}

.footer {
  background-color: black;
  color: white;
}
